<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/nonprofits" <%- title === 'View All Nonprofits' ? 'class="active"' : ''%>>ALL NONPROFITS</a>
        <a href="/nonprofits/new" <%- title === 'Add Nonprofit' ? 'class="active"' : ''%>>ADD NONPROFIT</a>
        <a href="/users/new" <%- title === 'Add User' ? 'class="active"' : ''%>>ADD USER</a>
    </nav>
<main>
