<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <div id="homepage">
    <h1 id="hometitle">Nonprofit Tracker</h1>
    <p id="homecaption">A Directory of Community Based Organizations</p>
    <br>
    <a id="homelink" href="/nonprofits" <%- title === 'View All Nonprofits' ? 'class="active"' : ''%>>VIEW ALL NONPROFITS</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>  
  </body>
</html>
