* {
  box-sizing: border-box;
  padding: 5px;
  text-decoration: none;
}

body {
  padding: 10px;
  margin: 10px;
  color: black;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Arial, sans-serif;
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  text-decoration: none;
  
}

title {
  font: 14px "Lucida Grande", Arial, sans-serif;
}

a {
  color: rgb(25, 5, 250);
  margin-left: 5px;
}

label {
  color: rgb(25, 5, 250);
  margin-left: 5px;
}

.brand-logo {
  text-align: center;
  margin-left: 5px;
}

form {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

input {
display: inline-block;
width: 450px;
border-radius: 5px;
}

#categories {
display: inline-block;
width: 450px;
border-radius: 5px;
}

#locations {
  display: inline-block;
  width: 450px;
  border-radius: 5px;
}

#comments {
  display: inline-block;
  width: 450px;
  padding: 10px;
  font: 14px "Lucida Grande", Arial, sans-serif;
  border-radius: 5px;
  }

#rcomments {
  display: inline-block;
  width: 450px;
  padding: 10px;
  font: 14px "Lucida Grande", Arial, sans-serif;
  border-radius: 5px;
  }

#homepage {
  text-align: center;
}

#nonprofit-page {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  text-align: left;
}

h5 {
  color: red;
}

link {
  text-decoration: none;
}