<%- include('../partials/header') %>
<h1 id="hometitle">Nonprofit Tracker</h1>
<form action="/bdmembers/nonprofits/<%= nonprofit.id %>/bdmembers" id="members" method="POST">

    <label id="bname">Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label id="bname">Title</label>
    <br>
    <input type="text" name="title">
    <br>
    <label id="bname">Company</label>
    <br>
    <input type="text" name="company">
<br>
<br>
    <button type="submit">Add Member</button>
</form> 

<%- include('../partials/footer') %>