<%- include('../partials/header') %>

<form id="add-nonprofit" action="/nonprofits" method="POST">

    <label>Organization Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label>Contact Name</label>
    <br>
    <input type="text" name="contact">
    <br>
    <label>Contact Email</label>
    <br>
    <input type="text" name="email">
    <br>
    <label>Address</Address></label>
    <br>
    <input type="text" name="address">
    <br>
    <label>City</label>
    <br>
    <input type="text" name="city">
    <br>
    <label>State</label>
    <br>
    <select name="location" id="locations">
        <option value="" selected="selected">Select State</option>
        <option value="Alabama">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="American Samoa">American Samoa</option>
        <option value="Arizona">Arizona</option>
        <option value="Alabama">Alabama</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Deleware">Deleware</option>
        <option value="District of Columbia">District of Columbia</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Guam">Guam</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New Hampshire">New Hampshire</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New Mexico">New Mexico</option>
        <option value="New York">New York</option>
        <option value="North Dakota">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahoma</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Puerto Rico">Puerto Rico</option>
        <option value="Rhode Island">Rhode Island</option>
        <option value="South Carolina">South Carolina</option>
        <option value="South Dakota">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Virgin Islands">Virgin Islands</option>
        <option value="Washington">Washington</option>
        <option value="West Virginia">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
    </select>
    <br>
    <label>Zip</label>
    <br>
    <input type="number" name="zip">
    <br>
    <label>Phone</label>
    <br>
    <input type="number" name="phone">
    <br>
    <label>Website</label>
    <br>
    <input type="text" name="website">
    <br>
    <label>Categories</label>
    <br>
    <select name="category" id="categories">
        <option value="" selected="selected">Select Category</option>
        <option>Aging</option>
        <option value="Aging">Aging</option>
        <option value="Agriculture and Food">Agriculture and Food</option>
        <option value="Arts and Culture">Arts and Culture</option>
        <option value="Athletics and Sports">Athletics and Sports</option>
        <option value="Children and Youth">Children and Youth</option>
        <option value="Civil Society">Civil Society</option>
        <option value="Community and Economic Development">Community and Economic Development</option>
        <option value="Computers and Technology">Computers and Technology</option>
        <option value="Consumer Protection">Consumer Protection</option>
        <option value="Crime and Safety">Crime and Safety</option>
        <option value="Disabilities">Disabilities</option>
        <option value="Domestic Violence Prevention">Domestic Violence Prevention</option>
        <option value="Education and Literacy">Education and Literacy</option>
        <option value="Employment and Labor">Employment and Labor</option>
        <option value="Energy and Environment">Energy and Environment</option>
        <option value="LGBTQI">LGBTQI</option>
        <option value="Government Reform">Government Reform</option>
        <option value="Health and Wellness">Health and Wellness</option>
        <option value="Housing and Homelessness">Housing and Homelessness</option>
        <option value="Human Rights and Civil Liberties">Human Rights and Civil Liberties</option>
        <option value="Humanitarian and Disaster Relief">Humanitarian and Disaster Relief</option>
        <option value="Hunger">Hunger</option>
        <option value="Immigration">Immigration</option>
        <option value="Journalism and Media">Journalism and Media</option>
        <option value="Men and Boys">Men and Boys</option>
        <option value="Nonprofits and Philanthropy">Nonprofits and Philanthropy</option>
        <option value="Parenting and Families">Parenting and Families</option>
        <option value="Poverty">Poverty</option>
        <option value="Prison and Judicial Reform">Prison and Judicial Reform</option>
        <option value="Poverty">Poverty</option>
        <option value="Race and Ethnicity">Race and Ethnicity</option>
        <option value="Religion">Religion</option>
        <option value="Science">Science</option>
        <option value="Substance Abuse and Recovery">Substance Abuse and Recovery</option>
        <option value="Transportation">Transportation</option>
        <option value="Welfare and Public Assistance">Welfare and Public Assistance</option>
        <option value="Women and Girls">Women and Girls</option>
    </select>
    <br>
    <label>Guidestar Profile</Address></label>
    <br>
    <input type="text" name="guidestar">
    <br>
    <label>Mission Statement</label>
    <br>
    <div>
        <textarea name="missionStatement" id="comments">
        </textarea>
        <br>
    <label>About Us</label>
    <br>
        <textarea name="aboutUs" id="comments">
        </textarea>
    </div>
    <br>

    <input type="submit" value="Add Nonprofit">
</form> 

<%- include('../partials/footer') %>