<%- include('../partials/header') %>
<h1 id="hometitle">Nonprofit Tracker</h1>
<form action="/reviews/nonprofits/<%= nonprofit.id %>/reviews" id="reviews" method="POST">

    <label id="rname">Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label id="rname">Review</label>
    <br>
    <div>
        <textarea name="review" id="rcomments"></textarea><br>
    </div>
    <br>
    <button type="submit">Add Review</button>
</form> 

<%- include('../partials/footer') %>