<%- include('../partials/header') %>

<section id="review-page">
    <div>Name: </div>
    <div><%= review.name %></div>
    <div>Review </div>
    <div><%= review.review %></div>
</section>

<%- include('../partials/footer') %>