<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(u) { %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
