<form action="/nonprofits" method="POST">

    <label>Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label>Contact Name</label>
    <br>
    <input type="text" name="contact">
    <br>
    <label>Contact Email</label>
    <br>
    <input type="text" name="email">
<br>
    <button type="submit">Add Nonprofit</button>
</form> 

<!-- <%- include('../partials/footer') %>